# Application
APP_ENV=development
APP_BASE_URL=http://localhost:8002

# Database
POSTGRES_SERVER=localhost
POSTGRES_PORT=5434
POSTGRES_USER=svc_kpis_user
POSTGRES_PASSWORD=svc_kpis_user
POSTGRES_DB=kpis-svc

# API Configuration
API_V1_PREFIX=/api/v1
